# Ignore test scripts
pipeline/quantify*.ipynb
pipeline/register_cells.ipynb
pipeline/make_paper_figures.ipynb
pipeline/foci_detectors.ipynb

# Ignore IDE settings
.vscode/
.ipynb_checkpoints/
pipeline/.ipynb_checkpoints/
__pycache__/
*.pyc

# Ignore data folders
data/
data_PLC_PRF/
data_U2OS/
data_cellcycle/
data_test_subsampling/
EBRT_vs_PRRT/
Ho_Y_data/
Inhibitor/
paper/
tracking/

